{% extends 'base.html' %}

{% load static %}

{% block content %}
<div id="main-content">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="media/coffee-home.jpg" class="d-block w-100" alt="Coffee Beans">
                <a href="{% url 'products' %}">
                    <div class="coffee-center-block">
                        <h2 class="fw-bold">Products</h2>
                        <p class="pt-1">View our extensive range from around the world</p>
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <img src="media/green-coffee.jpg" class="d-block w-100" alt="Coffee Farm">
                <a href="{% url 'blog' %}">
                    <div class="coffee-center-block">
                        <h2 class="fw-bold">Our Story</h2>
                        <p class="pt-1">Learn about our Story and read interesting coffee content</p>
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <img src="media/orange-coffee.jpg" class="d-block w-100" alt="Image 3">
                {% if request.user.is_authenticated %}
                <a href="{% url 'profile' %}">
                    <div class="coffee-center-block">
                        <h2 class="fw-bold">Profile</h2>
                        <p class="pt-1">Fill out your profile, so we can help pick more coffee that you'll like</p>
                    </div>
                </a>
                {% else %}
                <a href="{% url 'account_signup' %}">
                    <div class="coffee-center-block">
                        <h2 class="fw-bold">Sign Up</h2>
                        <p class="pt-1">Create an account to view more exclusive content and to get the best deals</p>
                    </div>
                </a>
                {% endif %}
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
</div>
<div class="page-sections py-3">
    <div class="row">
        <div class="col-12 col-md-6 grid-item">
            <a href="{% url 'blog' %}">
            <div class="home-page-mini-section" id="our-story-section">
                <img src="media/beige-coffee.jpg" alt="Coffee from Machine">
                <h3>Our Story</h3>
                <div id="overlay-orange" class="overlay"></div>
            </div>
        </a>
        </div>
        <div class="col-12 col-md-6 grid-item">
            <a href="{% url 'products' %}?sort=location&direction=asc">
            <div class="home-page-mini-section" id="by-country-section">
                <img src="media/brown-coffee.jpeg" alt="World Map">
                <h3>By Continent</h3>
                <div id="overlay-green" class="overlay"></div>
            </div>
        </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 grid-item">
            <a href="{% url 'products' %}?sort=roast&direction=asc">
            <div class="home-page-mini-section" id="by-roast-section">
                <img src="media/kona_bourbon_pointu_laurina.png" alt="Coffee Cup">
                <h3>By Roast</h3>
                <div id="overlay-blue" class="overlay"></div>
            </div>
        </a>
        </div>
        <div class="col-12 col-md-6 grid-item">
            <a href="{% url 'products' %}">
            <div class="home-page-mini-section" id="all-products-section">
                <img src="media/costa_rica_tarrazu.png" alt="Costa Rice Coffee Farm">
                <h3>All Products</h3>
                <div id="overlay-brown" class="overlay"></div>
            </div>
        </a>
        </div>
    </div>
</div>

{% endblock %}