{% extends 'base.html' %}

{% load static %}

{% block content %}
<div id="main-content">
    <div class="container home-page-container">
        <svg class="fancy-rectangle">
            <rect/>
        </svg>
        <div id="coffee-home-page">
            <p id="coffee-home-page-title">
                Fresh Coffee Picked From Across the World. 
                <button class="btn btn-brown"><a href="">Order Here</a></button>
            </p>
        </div>
    </div>
</div>
<div class="page-sections">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="home-page-mini-section" id="our-story-section">
                <h3>Our Story</h3>
                <p></p>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="home-page-mini-section" id="by-country-section">
                <h3>By Country</h3>
                <p></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="home-page-mini-section" id="by-roast-section">
                <h3>By Roast</h3>
                <p></p>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="home-page-mini-section" id="all-products-section">
                <h3>All Products</h3>
                <p></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}