{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <h2 class="logo-font mb-4 dark-heading">Thank You</h2>
            <hr class="separator">
            <p class="text-black dark-body mb-5">Your order is below. A confirmation email will be sent to
                <strong>{{ order.email }}</strong>.</p>
        </div>
    </div>
    {% for item in order.items.all %}
    <div class="row mb-5">
        <div class="col-2 mb-1">
            <a href="{% url 'specific_product' item.product_id.id %}">
                {% if item.product_id.image %}
                <img class="img-fluid checkout_image" src="{{ item.product_id.image.url }}"
                    alt="{{ item.product_id.name }}">
                {% else %}
                <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product_id.name }}">
                {% endif %}
            </a>
        </div>
        <div class="col-6">
            <p class="my-0 mx-2"><strong>{{ item.product_id.name }}</strong></p>
            <p class="my-0 small text-muted mx-2">Qty: {{ item.quantity }}</p>
        </div>
        <div class="col-3 text-right">
            <p class="my-0 small text-muted">${{ item.product_id.bag_100g_USD }} per bag</p>
        </div>
    </div>
    {% endfor %}
    <div class="row justify-content-center">
        <div class="col-auto">
            <a href="{% url 'home' %}" class="btn btn-warning">Home</a>
            {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" class="btn btn-success">Profile</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}