:root {
    --khaki: #354129;
    --coffee: #8b593e;
    --dull_brown: #836d58;
    --beige: #d0d3cc;
    --light_grey: #d8d6d7;
    --orange: #ed9112;
}

body {
    font-family: 'quicksand';
    background-color: var(--light_grey);
}

.dark-heading {
    color: var(--khaki);
    font-weight: bold;
    text-align: center;
    padding: 2rem 0 1rem 0;
}

.dark-body {
    color: var(--khaki);
    margin: 0 auto;
    max-width: 80%;
    text-align: justify;
}

.separator {
    border: none;
    height: 0.5rem;
    background-color: var(--khaki);
    margin: 2rem 0 1rem;
}

/* navbar */

#the-roastery-logo {
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--beige);
    height: 3rem;
    font-family: 'Roboto Slab', serif;
}

.navbar {
    background-color: var(--khaki);
    
}

.navbar-nav a:hover {
    color: var(--orange);
}

.nav-item a {
    color: var(--beige);
    font-weight: bold;
    text-decoration: none;
}

.nav-link {
    height: 3rem;
}

.nav-item {
    height: 3rem;
    vertical-align: middle;
    margin: 0;
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.navbar-toggler {
    background-color: var(--beige);
    margin: 0 auto;
}

.navbar-toggler-icon .fa-bars {
    color:var(--coffee); 
    font-size: 1.75rem;
}

.dropdown {
    --bs-navbar-hover-color: var(--beige);
}

.dropdown-menu {
    background-color: var(--beige);
}

.dropdown-menu a {
    color: var(--coffee);
}

.btn-coffee {
    background-color: var(--beige);
    border-radius: 0.5rem;
    height: 3rem;
    padding: 0 1rem;
    border: 2px solid var(--khaki);
    align-items: center;
}

.btn-coffee a {
    color: var(--coffee);
    font-size: 1.25rem;
}

.btn-coffee a:hover {
    color: var(--khaki);
}

.btn-coffee:hover {
    background-color: var(--orange);
    color: var(--beige);
}

.btn-coffee-dark {
    background-color: var(--coffee);
    border-radius: 0.5rem;
    height: 3rem;
    padding: 0 1rem;
    border: 2px solid var(--coffee);
    color: var(--beige);
    align-items: center;
}

.btn-coffee-dark a {
    color: var(--beige);
    font-size: 1.25rem;
}

.btn-coffee-dark a:hover {
    color: var(--orange);
}

.btn-coffee-dark:hover {
    background-color: var(--khaki);
    color: var(--orange);
}

.btn-shopping {
    font-size: 2.2rem;
    border: 0;
    padding: 0;
    padding-left: 1rem;
    color: var(--beige);
}

.btn-shopping:hover {
    color: var(--orange);
}

/* main content */

#myCarousel {
    max-height: 70vh;
    overflow: hidden;
}

.carousel-inner img {
    min-height: 70vh;
    max-height: 70vh;
    height: auto;
    object-fit: cover;
}

.coffee-center-block {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(173, 163, 148, 0.8);
    padding: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.page-sections .row {
    height: 20rem;
    overflow: hidden;
}

.grid-item {
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    height: 100%;
}

.grid-item img {
    width: 100%;
    height: auto;
    min-height: 20rem;
    transition: transform 0.3s ease;
    object-fit: cover;
}

.grid-item h3 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    margin: 0;
    z-index: 4;
}

.home-page-mini-section {
    position: relative;
    z-index: 1;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    transition: height 0.6s ease;
}

#overlay-orange {
    background-color: rgba(255, 145, 2, 0.6);
}

#overlay-blue {
    background-color: rgba(37, 65, 246, 0.6);
}

#overlay-green {
    background-color: rgba(38, 207, 26, 0.6);
}

#overlay-brown {
    background-color: rgba(141, 85, 11, 0.6);
}

/* Hover effect */
.grid-item:hover .overlay {
    height: 100%; /* Expand the overlay to 100% height on hover */
}

.btn-brown {
    background-color: var(--coffee);
}

.btn-brown a {
    text-decoration: none;
    color: var(--beige);
    font-size: 1.5rem;
    font-family: 'quicksand';
}

.btn-brown:hover {
    background-color: var(--khaki);
}

/* footer */

footer {
    padding-bottom: 1.75rem;
    background-color: var(--khaki);
}

footer ul {
    padding: 0;
}

footer a {
    text-decoration: none;
}

.socials li {
    display: inline;
}

.socials i {
    color: var(--beige);
    font-size: 2.5rem;
    width: 23.5%;
    text-align: center;
    padding: 1.75rem 0 1rem;
    transition-delay: 0.2s;
}

.section-links li {
    text-align: center;
    list-style: none;
}

.section-links a {
    color: var(--beige);
    font-weight: bold;
    padding: 0.5rem 0;
    font-family: 'Roboto Slab', serif;
}

.socials i:hover, .section-links li a:hover {
    color: var(--orange);
}

.row {
    --bs-gutter-x: 0;
}

/* products */
.product-button a{
    display: block;
    padding: 0.25rem;
}

.filter-div {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 0.74rem;
}

.card-img-top {
    height: 25rem;
}

.card-body {
    height: 5rem;
}

/* checkout */
.checkout_image {
    height: 15rem;
}

.checkout-button {
    width: 10rem;
}

.custom-width-form input, .custom-width-form select {
    width: 100%;
}

/* toast */

.toast-message {
    overflow: visible;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

.toast-structure {
    height: 6rem;
    overflow-y: auto;
}

.toast-container {
position: fixed;
z-index: 3;
top: 4rem;
right: 2rem;
}

/* collapse section */
.custom-collapse {
    background-color: var(--beige);
    max-height: 1000vh; /* Set a maximum height relative to the viewport height */
  }

/* card section */
.card-section {
    border: 1px solid var(--khaki);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
  }
  
  #card-element {
    border: 1px solid var(--khaki);
    padding: 10px;
    background-color: white;
    margin-bottom: 10px;
  }
  
  #card-errors {
    color: var(--coffee);
    margin-bottom: 10px;
  }

/* overlay */
#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(73, 53, 35, 0.9);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/* allauth forms */
.form-check-input {
    width:1rem !important;
}

.allauth-form {
    color: var(--beige);
    margin-top: 2rem;
}

.allauth-form input {
    border-color: var(--khaki);
}

.allauth-form-inner-content input[type='submit'] {
    color: var(--coffee);
    background-color: var(--beige);
    border-radius: 0.3rem;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* blog section */

.our-story-row {
    height: 7rem;
}

.blog-heading {
    text-align: center;
    font-weight: bold;
    padding: 1rem;
}

.blog-body {
    text-align: justify;
    margin: 0 auto;
    max-width: 70%;
    padding: 1rem;
}

/* media query for mobiles */

@media (max-width: 768px) {
    .page-sections .row {
        height: auto; /* Let the height be determined by content */
    }
    .grid-item h3 {
        top: 10%; /* Adjust vertical positioning for smaller screens */
    }
}

/* media query for tablets */

@media screen and (min-width:768px) {
    #the-roastery-logo {
        font-size: 3rem;
    }

    #coffee-home-page-title, .btn-brown a {
        font-size: 2rem;
    }
}

/* media query for large screens*/

@media screen and (min-width:992px) {

    #coffee-home-page-title {
        font-size: 2.5rem;
    }
}

/* media query for larger screens*/

@media screen and (min-width:1400px) {

    #coffee-home-page-title {
        font-size: 3rem;
    }
}