:root {
    --forest-green: #005E02;
    --coffee: #563D00;
    --orange: #D98200;
    --beige: #DFD898;
    --white: #ffffff;
}

#the-roastery-logo {
    font-size: 2.5rem;
    padding-left: 1rem;
}

.navbar {
    font-family: 'lora';
}