{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h2>Welcome to the Blog</h2>

    {% if user.is_superuser %}
        <button type="button" class="btn btn-success">
            <a href="{% url 'create_blog' %}" aria-label="New Blog">Create New Blog</a>
        </button>
    {% endif %}

    {% for blog in blogs %}
        <div class="row">
            <h3>
                {{ blog.heading }} 
                {% if user.is_superuser %}
                <a href="{% url 'edit_blog' blog.id %}"> <i class="fa-solid fa-pen-to-square"></i> </a>
                <a href="{% url 'delete_blog' blog.id %}"><i class="fa-solid fa-trash"></i> </a>
                {% endif %}
            </h3>
            <p>{{ blog.blog_body }}</p>
            
        </div>
    {% endfor %}

{% endblock %}