{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<h2 class="dark-heading">Edit Blog Entry</h2>
<div class="container">
    <form method="POST" action="{% url 'edit_blog' blog.id %}" enctype="multipart/form-data" class="col-md-8 offset-2">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="justify-content-end pb-3">
            <a class="btn btn-danger" href="{% url 'blog' %}">Cancel</a>
            <button class="btn btn-coffee-dark" type="submit">Edit Blog</button>
        </div>
    </form>
</div>
{% endblock %}