{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <h2 class="dark-heading">Edit Blog Entry</h2>
    <form method="POST" action="{% url 'edit_blog' blog.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="justify-content-end">
            <a class="btn btn-outline-black" href="{% url 'blog' %}">Cancel</a>
            <button class="btn btn-info" type="submit">Edit Blog</button>
        </div>
    </form>
{% endblock %}