{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <h2 class="dark-heading">Create New Blog Entry</h2>
    <form method="POST" action="{% url 'create_blog'%}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="justify-content-end">
            <a class="btn btn-outline-black" href="{% url 'blog' %}">Cancel</a>
            <button class="btn btn-info" type="submit">Create Blog</button>
        </div>
    </form>
{% endblock %}