{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container-fluid px-0">
    <div class="row">
        <div class="col text-center">
            <h2 class="logo-font">{{ product.name }}</h2>
        </div>
        <small class="text-muted"><a href="{% url 'products' %}">Return to All Products</a></small>
    </div>
    <div class="row">
        <div class="col-10 offset-1 mb-5">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <img class="card-img-top px-3" src="{{ product.image.url }}" alt="{{ product.name }}">
                </div>
                <div class="col-12 col-sm-6">
                    <div class="row">
                        {{ product.review }}
                    </div>
                    <div class="row">
                        <h3 class="logo-font">Characteristics</h3>
                        <div class="col-12 col-sm-6">
                            <div class="row">
                                <span><i class="fa-solid fa-weight-hanging"></i> Size: 100g</span>
                            </div>
                            <div class="row">
                                <span><i class="fa-solid fa-money-bill"></i> Price: ${{ product.bag_100g_USD }}</span>
                            </div>
                            <div class="row">
                                <span><i class="fa-solid fa-star"></i> Rating: {{ product.rating }}</span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="row">
                                {% if product.roast %}
                                <span><i class="fa-solid fa-mug-saucer"></i> Roast:
                                    {% if product.roast == '1' %}
                                    Light
                                    {% elif product.roast == '2' %}
                                    Medium-Light
                                    {% elif product.roast == '3' %}
                                    Medium
                                    {% elif product.roast == '4' %}
                                    Medium-Dark
                                    {% elif product.roast == '5' %}
                                    Dark
                                    {% endif %}
                                </span>
                                {% endif %}
                            </div>
                            <div class="row">
                                <span><i class="fa-solid fa-location-pin"></i> Origin {{ product.origin }}</span>
                            </div>
                            <div class="row">
                                <span><i class="fa-solid fa-map-location"></i> Continent {{ product.location }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row input-group">
                        <form action="{% url 'add_item' product.id %}" method="POST">
                            {% csrf_token %}
                            <div class="remove-products mx-auto">
                                <button class="minus_button_of_{{product.id}} add_more"
                                    data-product_id="{{ product.id }}">
                                    <span><i class="fa-solid fa-circle-minus"></i></span>
                                </button>
                            </div>
                            <input
                                class="form-control quantity_value quantity_of_{{product.id}} input-group-single-{{product.id}}"
                                type="number" name="order_quantity" value="1" min="1" max="99"
                                data-product_id="{{ product.id }}">
                            <div class="add-products">
                                <button class="plus_button_of_{{product.id}} remove_some"
                                    data-product_id="{{ product.id }}">
                                    <span><i class="fa-solid fa-circle-plus"></i></span>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <button type="submit" value="Add to Bag">Add to Bag</button>
                    </div>
                    <div class="row">
                        <button>Keep Shopping</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="{% static 'products/js/quantity_buttons.js' %}"></script>
{% endblock %}
