{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <h2 class="logo-font mb-4 dark-heading">Profile</h2>
            <hr class="separator">
        </div>
    </div>

    <button class="btn btn-coffee-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">
        Order History
    </button>
    <div class="collapse custom-collapse" id="collapseExample">
        <div class="container">
            <div class="row">
                <div class="col">Order No.</div>
                <div class="col">Order Date</div>
                <div class="col">Items</div>
                <div class="col">Total</div>
            </div>

            {% for order in orders %}
            <div class="row">
                <div class="col">
                    <a href="{% url 'users_orders' order.order_id %}">
                        {{ order.order_id }}
                    </a>
                </div>
                <div class="col">{{ order.order_date }}</div>
                <div class="col">
                    {% for item in order.items.all %}
                    <div class="row">
                        {{ item.quantity }} x {{ item.product_id.name }}
                    </div>
                    {% endfor %}
                </div>
                <div class="col">{{ order.final_total }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-10 offset-1">
            <p class="dark-body">Fill out the Profile Form</p>
            <form action="{% url 'profile' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset class="rounded px-3 mb-5">
                    <h4 class="fieldset-label px-2 w-auto dark-heading">Details</h4>
                    {{ profile_form | crispy }}
                </fieldset>
                <fieldset class="rounded px-3 mb-5">
                    <h4 class="fieldset-label px-2 w-auto dark-heading">Favourites</h4>
                    {{ favourites_form | crispy }}
                </fieldset>
                <div class="submit-button text-right mt-5 mb-2">
                    <button id="submit-button" type="submit" class="btn btn-coffee-dark">
                        <span class="font-weight-bold">Update Profile</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}